<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
    {{ with .Site.Params.description  }}
      <h2 style="font-size: 1rem; font-weight: 100; font-family: avenir next,avenir,sans-serif; line-height: 1.15;">
        {{ . }}
      </h2>
    {{ end }}
  </a>
</div>

{{ partial "header/language-selector.html" . }}

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ range .Site.Menus.main -}}
      <li class="menu-item">
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>

{{ partial "mathjax_support.html" . }}
